html {
    body {
        .wrapper {
            .events_section {
                margin-top:0em;
                margin-bottom:0em;
                padding: 0em 0em 2em;
                display: flex;
                flex-wrap: wrap;
                width:100%;

                article {
                    position:relative;
                    display:block;
                    width:calc(50% - .25em);
                    float:left;
                    margin: 0em;
                    overflow: hidden;
                    border:1px solid;
                    border-color:$accent;
                    border-radius: 0px;
                    margin-right:.5em;
                    margin-bottom:.5em;

                    @media (max-width: 768px) { 
                        width: 100vw;
                        position: relative;
                        left: 50%;
                        right: 50%;
                        margin-left: -50vw;
                        margin-right: -50vw;
                        padding: 0;
                        margin-top: 5px;
                        margin-bottom: 0px;

                        &:nth-of-type(3n), &:nth-of-type(4n) {
                            .featured, .details {
                                float:inherit;
                            }
                        }
                    }

                    &:nth-of-type(2n + 1) { clear:both; }

                    &:nth-of-type(2n) {
                         margin-right:0em;
                         @media (max-width: 768px) { margin-right:inherit; }

                    }

                    &:nth-of-type(4n - 1), &:nth-of-type(4n) {
                        .featured, .details {
                            float:right;
                             @media (max-width: 768px) { float:left;}
                        }
                    }

                    &:nth-of-type(2n), &:nth-of-type(4n) {
                        .featured, .details {
                            @media (max-width: 768px) { float:right;}
                        }
                    }

                    &:hover {
                        .featured img {
                            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                        }
                        .details {
                            background:$accentplus;
                        }
                    }

                    .featured, .details {
                        position: relative;
                        display:inline-block;
                        float:left;
                        width:50%;
                        height:0;
                        padding-bottom:50%;
                        overflow:hidden;
                    }

                    .featured {
              
                        img {
                            position:absolute;
                            display:block;
                            width:110%;
                            height:auto;
                            left:-5%;
                            top:-5%;
                            margin-bottom:0rem;
                            -webkit-transition: all 700ms;
                            -moz-transition: all 700ms;
                            -o-transition: all 700ms;
                            transition: all 700ms;
                        }

                        .date {
                            display: block;
                            position: absolute;
                            left: 0;
                            top: .6em;
                            font-size: 1em;
                            font-weight: bolder;
                            text-transform: uppercase;
                            background: rgba(0,0,0,0.9);
                            color: #fff;
                            padding: .6em;
                            pointer-events:none;
                        }

                    }

                    .details {
                        background:$accent;
                        -webkit-transition: all 700ms;
                        -moz-transition: all 700ms;
                        -o-transition: all 700ms;
                        transition: all 700ms;

                        .info {
                            padding:1em; 
                            
                            @media (max-width: 768px) {
                                padding:2em;
                            }

                            h3 {
                                color:white;
                                font-size:1.5em;
                                line-height:1.1em;

                                @media( max-width:1400px) {                    
                                    font-size:1.2em;
                                }
                            }

                            p {
                                color: white;
                                font-size: .9em;
                                line-height: 120%;

                                @media (max-width: 1400px) { display:none; }
                                @media (max-width: 768px) {display:inherit;}
                                @media (max-width: 545px) { display:none;}
                            }

                            .button {
                                background:transparent;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                margin: 1em;

                                @media (max-width: 1400px) and (min-width: 768px  ) {
                                    background:transparent;
                                    position: absolute;
                                    left: 0;
                                    bottom: 0;
                                    margin: 1em;
                                    font-size: .9em;
                                    padding: .4em .5em;
                                    border: 1px solid;
                                }

                                @media (max-width: 768px) {
                                    margin: 2em;
                                    font-size: .8em;
                                }
                                @media (max-width: 575px) {
                                    font-size: .7em;
                                }
                                

                                &:hover, &:focus {
                                    background:#000;
                                }
                            }   

                            a {
                                color:#fff !important;
                                text-decoration:none !important;
                            } 
                        }
                    }
                }

                .loads {display:none;}
            }          
        }
    }
}

#loadMore, #loadMoreBlog {
    background: $opposite;
    &:hover, &:focus {
        background:#222;
    }
}















