html {
    body {
        .wrapper {
            .page_title {
                margin-top:5em;
                margin-bottom:2em;
                padding:0;

                .container {
                    padding:0em;

                    h1, h2, h3 {
                        font-style:normal;
                        margin:0;
                        color:inherit;
                    }
                    
                }
            }
        }
    }
}